.header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4rem;

}

.header-navlink,
.header-navlink:visited {
  text-decoration: none;
}

@media(max-width: 768px) {
  .header {
  background-color: yellow;
  }
}