h1 {
 flex-direction: column;
 flex: auto;
 margin-left: 100px;
 align-content: center;
}
.adv {
   color: #d23519;
}

.home-helper-text {
  font-size: large;
  width:500px;
    margin: 0 auto;
    background: rgb(23, 123, 218);
    text-align: center;
}




.home-latest-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: rgb(2, 2, 2);
  cursor: pointer;
  margin-bottom: 60px;
}